{% extends "base.html.jinja" %}

{% block content %}
    {% include 'accessibility.html.jinja' %}
    <main id="main-content">
        {% include 'summary.html.jinja' %}
        {% include 'experience.html.jinja' %}
        {% include 'skills.html.jinja' %}
        {% include 'projects.html.jinja' %}
        {% include 'education.html.jinja' %}
        {% include 'contact.html.jinja' %}
    </main>
{% endblock %}
