<div class="user-details">
  <h1> Projects (More to be posted...) </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="American Option Pricing" src="{{ "/assets/img/rw_bw_loop.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> American Option Pricing </h3>
    <p>Implemented least squares monte carlo to price an american option using python</p>
    <a class="project-link" href="https://github.com/ronakdshah/AmericanOptionPricing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="localsearchtsp" src="{{ "/assets/img/Hill_Climbing_with_Simulated_Annealing.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Evolutionary Algorithm </h3>
    <ul>
      <li> Simulated Annealing</li>
      <li> Genetic Algorithm</li>
    </ul>
    <p>Implemented evolutionary Algorithm to solve global optimization problems with multiple local minima.</p>
    <a class="project-link" href="https://github.com/ronakdshah/EvolutionaryAlgorithm">Check it out</a>
  </div>
</div>

<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="localfacilitylocation" src="{{ "/assets/img/localfacilitylocation.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Local Facility Location </h3>
    <ul>
      <li> Network Optimization</li>
      <li> Capacity Expansion</li>
      <li> Scenario Analysis</li>
    </ul>
    <p>A case study exploring capacity expansion options for a fulfillment style distribution system with limited geographic scope. The study compares cost and service based metrics solving as far as delivery routing.</p>
    <a class="project-link" href="https://github.com/ayushjain1594/localfacilitylocation">Check it out</a>
  </div>
</div> -->

<div class="user-projects">
  <div class="images-right">
    <img alt="convexhull2d" src="{{ "/assets/img/graham.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Convex Hull 2D </h3>
    <ul>
      <li> Computational Geometry</li>
      <li> Quick Hull</li>
    </ul>
    <p>Python based implementation of modified quick hull algorithm for finding convex hull of a set of points in two dimensional spaces.</p>
    <a class="project-link" href="https://github.com/ronakdshah/quickhull">Check it out</a>
  </div>
</div>
